In [1]:
import sqlite3
import pandas as pd

# Carregando os CSVs
df_transacoes = pd.read_csv("TB_TRANSACOES_PROJETO_ECOMM.csv", delimiter=';')
df_clientes = pd.read_csv("TB_CLIENTES_PROJETO_ECOMM.csv", delimiter=';')

# Conectando ao banco SQLite
conn = sqlite3.connect('projeto.db')

# Salvando os DataFrames como tabelas no banco
df_transacoes.to_sql('tb_transacoes', conn, index=False, if_exists='replace')
df_clientes.to_sql('tb_clientes', conn, index=False, if_exists='replace')

# Função para rodar consultas
def run_query(query):
    return pd.read_sql_query(query, conn)

# Consulta SQL com INNER JOIN
query = """
SELECT 
    t.id_client,
    t.Category,
    t.Price,
    t.[Card Type],

    c.First_name,
    c.Gender,
    c.Job_Title,
    c.state_name

FROM tb_transacoes t
INNER JOIN tb_clientes c
ON t.id_client = c.Id_client;
"""
# Utilizamos o INNER JOIN porque queremos apenas combinar as transações com clientes existentes nos dois conjuntos de dados.
# Se uma transação não tiver um cliente correspondente, ou um cliente não tiver realizado nenhuma transação, esses registros não são relevantes para nossa análise combinada.

# Executar a consulta e salvar em DataFrame
result_df = run_query(query)

# Visualizar as primeiras linhas (opcional)
print(result_df.head())

# Exportar o DataFrame consolidado para CSV
result_df.to_csv("BASE_COMBINADA_ECOMM.csv", index=False, sep=';')

# Fechar a conexão com o banco
conn.close()

   id_client     Category   Price   Card Type First_name       Gender  \
0         37  Electronics   72,93  mastercard     Cornie  Genderqueer
1         38      Jewelry  121,89  mastercard        Rab         Male
2         39         Baby    64,3  mastercard      Codie       Female
3         40     Outdoors    9,48  mastercard      Scott       Female
4          5     Outdoors   61,95  mastercard     Tanney       Female

           Job_Title state_name
0             Editor         ND
1  Assistant Manager         PA
2  Financial Analyst         MA
3     Civil Engineer         OR
4       VP Marketing         MN